.home__page {
    background-image: url('./fondocielo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home__page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pokedex__logo {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.pokedex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokedex__img {
    width: 400px;
    height: auto;
    margin-left: 20px;
}

.pokedex__container-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.button__homepage {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    /* Mismo ancho que el input */
    transition: background-color 0.3s ease;
    /* Agregamos una transición suave */
}

/* Estilos para el botón al pasar el mouse */
.button__homepage:hover {
    background-color: #ff000099;
}

@media screen and (max-width: 768px) {
    .pokedex-container {
        flex-direction: column;
        align-items: center;
    }
}